section.container.scrollspy#contact
  .card-panel
    h1.color-Tp Contact Me
    .container
      p.color-Tp-light.flow-text
        | I'm currently open for new opportunities, if you would like a consult,        or have a position for which you would like to consider me then feel free to send me an email.
    .container
      .row
        form.col.s12#contactForm(action='https://formspree.io/rafase282@gmail.com', method='POST')
          .row
            .input-field.col.s6
              i.material-icons.prefix.color-Tp-light account_circle
              input#name.validate(type='text', name='name', length='28')
              label.left-align(for='name') Full Name
            .input-field.col.s6
              i.material-icons.prefix.color-Tp-light mail
              input#email.validate(type='email', name='_replyto', length='28')
              label.left-align(for='email') E-Mail
          .row    
            .input-field.col.s12
              i.material-icons.prefix.color-Tp-light mode_edit
              textarea.materialize-textarea#message(length='282', name='message', style='height: 21.6px;')
              label.left-align(for='message') Message
              input(type='hidden', name='_next', value='./thanks')
              button.btn.waves-effect.waves-light.color-Bp-light(type='submit', name='action') Send
