section.container.scrollspy#tools
  .card-panel
    h1.color-Tp Tools of the Trade
    p.color-Tp-light
      | I use a wide range of tools for front and back-end development. I like to focus on open source tools but I'm also very versatile with non-open source software. Below is a glimpse of the tools I use daily.
    .row
      .col.s6
        h4.color-Tp Front End Tools
      .col.s6 
        h4.color-Tp Back End Tools
    .row
      .col.s3
        ul
          li
            span.devicons.devicons-html5.color-Tp-light.tooltipped(data-position='right', data-tooltip='HTML5')
          li
            span.devicons.devicons-markdown.color-Tp-light.tooltipped(data-position='right', data-tooltip='Markdown, Pug/Jade')
          li
            span.devicons.devicons-css3.color-Tp-light.tooltipped(data-position='right', data-tooltip='CSS3')
          li 
            span.devicons.devicons-sass.color-Tp-light.tooltipped(data-position='right', data-tooltip='SASS/SCSS')
          li
            span.devicons.devicons-materializecss.color-Tp-light.tooltipped(data-position='right', data-tooltip='Materializecss')
      .col.s3
        ul
          li 
            span.devicons.devicons-bootstrap.color-Tp-light.tooltipped(data-position='right', data-tooltip='Bootstrap')
          li
            span.devicons.devicons-javascript.color-Tp-light.tooltipped(data-position='right', data-tooltip='JavaScript')
          li 
            span.devicons.devicons-jquery.color-Tp-light.tooltipped(data-position='right', data-tooltip='JQuery')
          li 
            span.devicons.devicons-react.color-Tp-light.tooltipped(data-position='right', data-tooltip='Reactjs')
          li 
            span.devicons.devicons-atom.color-Tp-light.tooltipped(data-position='right', data-tooltip='Atom')
      .col.s3
        ul
          li
            span.devicons.devicons-nodejs.color-Tp.tooltipped(data-position='left', data-tooltip='Nodejs/Express')
          li 
            span.devicons.devicons-npm.color-Tp.tooltipped(data-position='left', data-tooltip='NPM')
          li 
            span.devicons.devicons-mongodb.color-Tp.tooltipped(data-position='left', data-tooltip='MongoDB')
          li 
            span.devicons.devicons-gulp.color-Tp.tooltipped(data-position='left', data-tooltip='Gulp')
          li
            span.devicons.devicons-git.color-Tp.tooltipped(data-position='left', data-tooltip='Git')
      .col.s3
        ul
          li
            span.devicons.devicons-github_badge.color-Tp.tooltipped(data-position='left', data-tooltip='GitHub')
          li 
            span.devicons.devicons-travis.color-Tp.tooltipped(data-position='left', data-tooltip='Travis-CI')
          li 
            span.devicons.devicons-linux.color-Tp.tooltipped(data-position='left', data-tooltip='Linux')
          li
            span.devicons.devicons-windows.color-Tp.tooltipped(data-position='left', data-tooltip='Windows')
          li 
            span.devicons.devicons-opensource.color-Tp.tooltipped(data-position='left', data-tooltip='Open Source')
