.navbar-fixed
  nav
    .nav-wrapper.color-Bp
      a.brand-logo.center(href='/') Rafael Rodriguez
      a.button-collapse(href='#', data-activates='mobile-nav')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='#home')
            i.material-icons.left home
            | Home
        li
          a(href='#tools')
            i.material-icons.left build
            | Tools
        li
          a(href='#portfolio')
            i.material-icons.left business_center
            | Portfolio
        li
          a(href='#contact')
            i.material-icons.left mail
            | Contact
      ul.side-nav#mobile-nav
        li
          a(href='#home')
            i.material-icons.left home
            | Home
        li
          a(href='#tools')
            i.material-icons.left build
            | Tools
        li
          a(href='#portfolio')
            i.material-icons.left business_center
            | Portfolio
        li
          a(href='#contact')
            i.material-icons.left mail
            | Contact
