section.container.scrollspy#portfolio
  h2 Projects
  p
    | These are a series of projects that I have completed from varying degress of complexity. They are all open sourced ad available online for you to clone or view. I normally use either 
    a(href="http://codepen.io/Rafase282/", target="_blank") CodePen 
    | for exclusively front end projects, 
    a(href="https://github.com/Rafase282", target="_blank") Github Pages 
    | for frontend projects with multiple pages or 
    a(href="http://heroku.com", target="_blank") Heroku 
    | for full stack or API projects.
  p
    | Each project will have links to the source code and a live demo along with a screenshot and a brieft description of the project and tools used when you click the image.

  .row
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            | Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | Project Name
            i.material-icons.right close
          p
            | Here is some more information about this product that is only revealed once clicked on.
