section.container.scrollspy#portfolio
  h2.color-Tp Projects
  .card-panel.hoverable
    p.color-Tp-light
      | These are a series of projects that I have completed from varying degress of complexity. They are all open sourced ad available online for you to clone or view. I normally use either 
      a(href="http://codepen.io/Rafase282/", target="_blank") CodePen 
      | for exclusively front end projects, 
      a(href="https://github.com/Rafase282", target="_blank") Github Pages 
      | for frontend projects with multiple pages or 
      a(href="http://heroku.com", target="_blank") Heroku 
      | for full stack or API projects.
    p.color-Tp-light
      | Each project will have links to the source code and a live demo along with a screenshot and a brieft description of the project and tools used when you click the image.

  .row
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='images/manga.png')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp MangaDB
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='https://manga-client.herokuapp.com', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Site') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282/Mangadb', target='_blank')
            i.mdi.mdi-github-circle.center.small.color-Tp.tooltipped(data-position='top', data-tooltip='API Source Code')
          a.waves-effect.waves-light(href='https://github.com/Rafase282/mangadb-front', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Client Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp MangaDB
            i.material-icons.right close
          p.color-Tp-light
            | This project is divided in two parts, standalone API which handles the data, security, user management and more; and the client which displays the data in a user friendly way.
          p.color-Tp-light
            | The Client is based on the Material design and is fully responsive. The user can create or delete an account, and create as many new series as wanted, there is quick access to increase the last read chapter by 1 or update multiple information at once.
            br
            br
            | The user can also edit his information and is able to preview the thumbnails before saving it and much more.
          h5.color-Tp Tools used:
          ul.color-Tp-light
            li Node.js (API & Client)
            li Express (API & Client)
            li Pug (Client)
            li MongoDB (API)
            li Javascript (API & Client)
            li Sass (Client)
            li Gulp (Client)
            li Travis-CI (API)
            li Jason Web Tokens (API & Client)
            
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='images/recipe.png')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp React Recipe Box
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='https://rafase282.github.io/React-Recipe-Box/', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282/React-Recipe-Box', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp React Recipe Box
            i.material-icons.right close
          p.color-Tp-light
            | This is a simple React based recipe web app that saves your recipes to local storage in your browser. It supports markdwon so you can be as creative as you want with your recipes. You also have the avility to delete any and all recipes besides adding new ones.
          h5.color-Tp Tools used:
          ul.color-Tp-light
            li Reactjs
            li Babel
            li Materializecss
            li Browser Local Storage)
            li Javascript
            li Sass
            li Markdown
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='images/markdown.png')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp React: Markdown Previewer
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='https://rafase282.github.io/React-MarkDown-Editor/', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282/React-MarkDown-Editor', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp React: Markdown Previewer
            i.material-icons.right close
          p.color-Tp-light
            | This is a simple React based markdwon parser that allows users to quickly preview markdown. Simple and useful for those who are new to markdown syntax and need a visual feedback.
          h5.color-Tp Tools used:
          ul.color-Tp-light
            li Reactjs
            li Babel
            li Javascript
            li Sass
            li Markdown
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='images/bar-chart.png')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp D3: Bar Chart
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='https://rafase282.github.io/D3-BarChart/', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282/D3-BarChart/', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp D3: Bar Chart
            i.material-icons.right close
          p.color-Tp-light
            | Responsive bar chart made using d3.js. It has a simple interface
          h5.color-Tp Tools used:
          ul.color-Tp-light
            li D3.js
            li CSS
            li Javascript
            li SVG
            li Ajax
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='images/leaderboard.png')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp React: Free Code Camp Leaderboard
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='https://rafase282.github.io/React-FCC-Camper-Leaderboard/', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282/React-FCC-Camper-Leaderboard', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp React: Free Code Camp Leaderboard
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
    .col.s12.m6.l4
      .card.hoverable.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src='http://materializecss.com/images/office.jpg')
        .card-content
          span.card-title.activator.color-Tp-light
            h5.color-Tp Project Name
            i.material-icons.right more_vert
        .card-action
          a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
            i.material-icons.left.color-Tp.tooltipped(data-position='top', data-tooltip='Live Demo') web
          a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
            i.mdi.mdi-github-circle.right.small.color-Tp.tooltipped(data-position='top', data-tooltip='Source Code')
        .card-reveal
          span.card-title.color-Tp
            h5.color-Tp Project Name
            i.material-icons.right close
          p.color-Tp-light
            | Here is some more information about this product that is only revealed once clicked on.
