section.container.section.scrollspy#tools
  h2 Tools of the trade
  p.flow-text
    | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
    a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
    | you'll see me around New York with my son.

  .row
    .col.s6
      h4 Front End Tools
      ul.flow-text
        li
          span.devicons.devicons-html5.tooltipped(data-position='right', data-tooltip='HTML5')
        li
          span.devicons.devicons-markdown.tooltipped(data-position='right', data-tooltip='Markdown, Pug/Jade')
        li
          span.devicons.devicons-css3.tooltipped(data-position='right', data-tooltip='CSS3')
        li 
          span.devicons.devicons-sass.tooltipped(data-position='right', data-tooltip='SASS/SCSS')
        li
          span.devicons.devicons-materializecss.tooltipped(data-position='right', data-tooltip='Materializecss')
        li 
          span.devicons.devicons-bootstrap.tooltipped(data-position='right', data-tooltip='Bootstrap')
        li
          span.devicons.devicons-javascript.tooltipped(data-position='right', data-tooltip='JavaScript')
        li 
          span.devicons.devicons-jquery.tooltipped(data-position='right', data-tooltip='JQuery')
        li 
          span.devicons.devicons-react.tooltipped(data-position='right', data-tooltip='Reactjs')
        li 
          span.devicons.devicons-atom.tooltipped(data-position='right', data-tooltip='Atom')
    .col.s6 
      h4 Back End Tools
      ul.flow-text
        li
          span.devicons.devicons-nodejs.tooltipped(data-position='left', data-tooltip='Nodejs/Express')
        li 
          span.devicons.devicons-npm.tooltipped(data-position='left', data-tooltip='NPM')
        li 
          span.devicons.devicons-mongodb.largetooltipped(data-position='left', data-tooltip='MongoDB')
        li 
          span.devicons.devicons-gulp.largetooltipped(data-position='left', data-tooltip='Gulp')
        li
          span.devicons.devicons-git.tooltipped(data-position='left', data-tooltip='Git')
        li
          span.devicons.devicons-github_badge.tooltipped(data-position='left', data-tooltip='GitHub')
        li 
          span.devicons.devicons-travis.tooltipped(data-position='left', data-tooltip='Travis-CI')
        li 
          span.devicons.devicons-linux.tooltipped(data-position='left', data-tooltip='Linux')
        li
          span.devicons.devicons-windows.tooltipped(data-position='left', data-tooltip='Windows')
        li 
          span.devicons.devicons-opensource.tooltipped(data-position='left', data-tooltip='Open Source')
