.color-Bp,
.color-Bp:hover,
.color-Bp:active {
  background-color: #01579b !important; }

.color-Bp-light,
.color-Bp-light:hover,
.color-Bp-light:active {
  background-color: #1e88e5 !important; }

.color-Tp {
  color: #01579b !important; }

.color-Ts {
  color: #fff !important; }

.color-Ts-dark {
  color: #bdbdbd !important; }

.color-Tp-light {
  color: #1e88e5 !important; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

section {
  padding-top: 5%;
  padding-bottom: 5%; }

#logo {
  width: 50%;
  margin: 0 auto;
  border-radius: 25px; }

.devicons {
  font-size: 4em; }

.nav-wrapper ul li .active, .nav-wrapper ul li a:hover {
  background: #1e88e5 !important; }
