// light-blue darken-4
$color-primary: #01579b !important
// blue darken-1
$color-primary-light: #1e88e5 !important
// white
$color-secondary: #fff !important
// grey lighten-1
$color-secondary-dark: #bdbdbd !important
