// Variables
@import variables

// Colors
@import colors

body
  display: flex
  min-height: 100vh
  flex-direction: column
main 
  flex: 1 0 auto
#home
  margin-top: 5%
#logo
  width: 50%
  margin: 0 auto
.devicons
  font-size: 4em
ul li .active
  background-color: red
