// Variables
@import variables

// Colors
@import colors

body
  display: flex
  min-height: 100vh
  background-color: $color-secondary-dark
  font: 100% $font-stack
  flex-direction: column
main 
  flex: 1 0 auto
section
  padding-top: 2%
#home
  margin-top: -2%
  padding-top: 8em
  padding-bottom: 8em
  background-color: black
#logo
  width: 25%
  margin: 0 auto
  border-radius: 25px
  border-width: 5px;
  border-style: solid
  border-color: $color-secondary-dark
.devicons
  font-size: 4em
.nav-wrapper ul li .active, .nav-wrapper ul li a:hover 
  background: $color-primary
  opacity: 0.7
  color: $color-secondary-dark
.brand-logo
  margin-left: 2%
footer
  font: 100% Roboto
  padding-top: 2%
.footer-copyright
  padding: 10px
.empty
  padding: 2%
.card-action
  background-color: $color-secondary-dark
