.page-footer.center-align.color-Bp
  .container
    .row
      .col.l6.s12
        h5.color-Ts More about me & the site
        p.color-Ts
          | I'm a bilingual, Spanish is my mother tongue and I wish German was my second language. I have a list of languages I would love to learn, if you can help with that, feel free to let me know.
        p.color-Ts
          | I like to listen to music, watch movies, code, begin a scientist and inventor whenever possible. I enjoy languages I can't understand yet,and I have my own list of languages (Human and coding) that I want to learn.
        p.color-Ts
          | If you would prefer to chat with me, I'm available on the&nbsp;
          a.color-Ts-dark(href='https://gitter.im/FreeCodeCamp/Wiki', taget='_blank') Free Code Camp's Wiki Chat.&nbsp;
          | You can follow me on any of the links I provide here.
        p.color-Ts
          | I have made a generator that will help you build this site and you can find it at&nbsp;
          a.color-Ts-dark(href='https://github.com/Rafase282/gulp-material-starter', taget='_blank') [Rafase282/gulp-material-starter].
          | Feel free to use it and build your own portfolio if you need to.

      .col.l4.offset-l2.s12
        h5.color-Ts Follow Me
        .col.s6
          ul
            li
              a(href='https://github.com/Rafase282', target='_blank')
                span.devicons.devicons-github_badge.color-Ts.tooltipped(data-position='left', data-tooltip='GitHub')
            li
              a(href='https://www.linkedin.com/in/rafase282', target='_blank')
                i.mdi.mdi-linkedin-box.medium.color-Ts.tooltipped(data-position='left', data-tooltip='LinkedIn')
            li
              a(href='http://codepen.io/Rafase282', target='_blank')
                span.devicons.devicons-codepen.color-Ts.tooltipped(data-position='left', data-tooltip='Codepen')
            li
              a(href='https://www.youtube.com/c/rafaelrodriguez282', target='_blank')
                i.mdi.mdi-youtube-play.medium.color-Ts.tooltipped(data-position='left', data-tooltip='YouTube')            
        .col.s6
          ul
            li
              a(href='https://medium.com/@Rafase282', target='_blank')
                i.mdi.mdi-medium.medium.color-Ts.tooltipped(data-position='left', data-tooltip='Medium')
            li
              a(href='https://twitter.com/Rafase282', target='_blank')
                i.mdi.mdi-twitter.medium.color-Ts.tooltipped(data-position='left', data-tooltip='Twitter')
            li
              a.color-Ts(href='http://www.freecodecamp.com/rafase282', target='_blank', style='font-size: 3em;')
                | (
                i.fa.fa-fire.fa-fw.tooltipped(data-position='left', data-tooltip='Free Code Camp')
                | )
            li
              a(href='https://www.twitch.tv/rafase282', target='_blank')
                i.mdi.mdi-twitch.medium.color-Ts.tooltipped(data-position='left', data-tooltip='Twitch')
  .footer-copyright.color-Bsd
    .container.center-align
      | Copyright ©&nbsp;
      a(href='http://rafase282.github.io/') Rafael J. Rodriguez&nbsp;
      | 2016. All Rights Reserved
