meta(charset='UTF-8')
title Materialize Portfolio Template
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='Personal Website')
meta(name='author', content='Rafase282')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet prefetch', href='css/normalize.css')
link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Titillium+Web: 400, 700')
link(rel='stylesheet prefetch', href='css/materialize.css')
link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
link(rel='stylesheet prefetch', href='css/main.css')
