extends layout
block content
  main.center-align
    section.container.section.scrollspy#home
      img.responsive-img.materialboxed#logo(src='http://i.imgur.com/fjCpoPz.jpg', alt='Web Developer')
      p.flow-text
        | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
        a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
        | you'll see me around New York with my son.

    section.container.section.scrollspy#tools
      h2 Tools of the trade
      p.flow-text
        | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
        a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
        | you'll see me around New York with my son.

      .row
        .col.s6
          h4 Front End Tools
          ul.flow-text
            li
              i.mdi.mdi-language-html5.large.tooltipped(data-position='right', data-tooltip='HTML5')
            li
              i.mdi.mdi-markdown.large.tooltipped(data-position='right', data-tooltip='Markdown, Pug/Jade')
            li
              i.mdi.mdi-language-css3.large.tooltipped(data-position='right', data-tooltip='CSS3/SASS/SCSS')
            li
              i.mdi.mdi-material-ui.large.tooltipped(data-position='right', data-tooltip='Material Design/Bootstrap')
            li
              i.mdi.mdi-language-javascript.large.tooltipped(data-position='right', data-tooltip='JavaScript')
            li JQuery
            li React
            li Ajax
        .col.s6 
          h4 Back End Tools
          ul.flow-text
            li
              i.mdi.mdi-language-javascript.large.tooltipped(data-position='left', data-tooltip='Nodejs/Express')
            li
              i.mdi.mdi-database.large.tooltipped(data-position='left', data-tooltip='MongoDB')
            li Gulp
            li
              i.mdi.mdi-git.large.tooltipped(data-position='left', data-tooltip='Git')
            li ESLInt
            li Travis-CI
            li
              i.mdi.mdi-ubuntu.large.tooltipped(data-position='left', data-tooltip='Linux')
            li
              i.mdi.mdi-microsoft.large.tooltipped(data-position='left', data-tooltip='Windows')
            li RESTful API


    section.container.section.scrollspy#portfolio
      h2 Projects
      p
        | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
        a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
        | you'll see me around New York with my son.

      .row
        .col.s4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
        .col.s4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
        .col.s4
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src='http://materializecss.com/images/office.jpg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Project Name
                i.material-icons.right more_vert
            .card-action
              a.waves-effect.waves-light(href='http://codepen.io/Rafase282', target='_blank')
                i.material-icons.left.tooltipped(data-position='top', data-tooltip='Live Demo') web
              a.waves-effect.waves-light(href='https://github.com/Rafase282', target='_blank')
                i.mdi.mdi-github-circle.right.small.tooltipped(data-position='top', data-tooltip='Source Code')
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Project Name
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.

    section.container.section.scrollspy#contact
      h2 Contact Me
      p
        | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
        a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
        | you'll see me around New York with my son.
