extends _layout
block content
  include ./index-sections/_header.pug
  main.center-align
    section.scrollspy#home.color-Bp
      h1.color-Ts-dark Web Developer
      .container
        img.responsive-img#logo(src='images/me.jpg', alt='Rafase282')
        p.color-Ts-dark
          | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
          a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
          | you'll see me around New York with my son.
    include ./index-sections/_portfolio.pug
    include ./index-sections/_tools.pug
    include ./index-sections/_contact.pug
