extends _layout
block content
  include ./index-sections/_header.pug
  main.center-align
    section.container.scrollspy#home
      .card-panel
        h1.color-Tp Welcome!
        img.responsive-img.materialboxed.hoverable#logo(src='images/my-pc.jpg', alt='Web Developer')
        p.color-Tp-light.flow-text
          | My name is Rafael Rodriguez. I'm a Computer Scientist (B.Sc), passionate about Web Development and Open Source Software. When I'm not mentoring others at 
          a(href="https://freecodecamp.com", target="_blank") Free Code Camp, 
          | you'll see me around New York with my son.
    include ./index-sections/_tools.pug
    include ./index-sections/_portfolio.pug
    include ./index-sections/_contact.pug
