// build:js js/main.min.js
script(src='js/jquery.js')
script(src='js/instantclick.js', data-no-instant)
script(data-no-instant).
  InstantClick.init();
script(src='js/materialize.js')
script(src='js/main.js')
// endbuild
