extends layout
block content
  main.center-align
    section.container#home
      img.responsive-img.materialboxed#logo(src='images/my-pc.jpg', alt='Web Developer')
      p.flow-text
        | Your message has been sent, I'll reply as soon as I can, meanwhile you can go back to the 
        a(href="./index.html") main page. 
