extends _layout
block content
  .navbar-fixed
    nav
      .nav-wrapper.color-Bsd
        a.color-Tp.brand-logo.center(href='/') Rafael Rodriguez
  main.center-align
    section#home.color-Bp
      h1.color-Ts-dark E-Mail Sent!
      img.materialboxed.responsive-img#logo(src='images/my-pc.jpg', alt='Web Developer')
      .container
        p.color-Ts-dark.flow-text
          | Your message has been sent, I'll reply as soon as I can, meanwhile you can go back to the 
          a.color-Tp-light(href='/')
            strong main page. 
    section.empty
