extends layout
block content
  main.center-align
    .navbar-fixed
      nav
        .nav-wrapper.color-Bp
          a.brand-logo.center(href='/index.html') Rafael Rodriguez
    section.container#home
      h1.color-Tp E-Mail Sent!
      img.responsive-img#logo(src='images/my-pc.jpg', alt='Web Developer')
      .container
        p.flow-text.color-Tp-light
          | Your message has been sent, I'll reply as soon as I can, meanwhile you can go back to the 
          a(href="./index.html") main page. 
